<div class="contenu">
<div class="form-group">
<p>Enregistrement effectué avec succès.<br>
     Bonne fin de journée!
     <button class="btn btn-danger espace boutonDroite" onclick="location.href='/employe'">Retour au module de punch</button></p>
</div>
</div>