{{!-- formulaire d'ajout de client. Le client peut être un particulier directement ou un entrepreneur général
C'est différent du formulaire d'ajout de chantier car un entrepreneur général pourrait avoir plusieurs chantiers --}}
 <div class="contenu">
  
    <form action="/ajoutclient" method="POST">
    <h4>Ajouter un nouveau client</h4>
        <div class="form-group">
            <input class="labelFormulaire" type="text" id="nom" name="nom" placeholder="Nom" required><br><br>
            <input class="labelFormulaire" type="email" id="courriel" name="courriel" placeholder="Courriel"><br><br>
            <input class="labelFormulaire" type="text" id="adresse_client" name="adresse_client" placeholder="Adresse"><br><br>
        </div>
        <button class="btn btn-primary boutonGauche" type="submit">Ajouter</button>
    </form>
    <button class="btn btn-danger espace boutonDroite" onclick="location.href='/patron'">Retour au portail principal</button>
</div>
