  <div class="contenu">
    <form action="/ajoutchantier" method="POST">
    <h4>Ajouter un chantier</h4>
        <div class="form-group">
            <input type="text" class="labelFormulaire" id="nom_projet" name="nom_projet" placeholder="Nom du projet" required><br><br>
            <input type="text" class="labelFormulaire" id="adresse_chantier" name="adresse_chantier" placeholder="Adresse du chantier" required><br><br>

            <label for="client">Client: </label>
            <select id="client" class="selectFormulaire" name="client" required>
                <option value = "">-Sélectionner-</option>
                {{#each clients}}
                    <option value="{{this.id}}">{{this.nom}}</option>
                {{/each}}
            </select><br><br>

            <label for="statut">Statut: </label>
            <select id="statut" name="statut" class="selectFormulaire" required>
                <option value = "">-Sélectionner-</option>
                <option value="actif">Actif</option>
                <option value="inactif">Inactif</option>
            </select><br>
        </div>
             <button class="btn btn-primary boutonGauche" type="submit">Ajouter</button>
    </form>
    <button class="btn btn-danger espace boutonDroite" onclick="location.href='/patron'">Retour au portail principal</button>
</div>
