{{!-- formulaire pour le patron pour ajouter un employé --}}

    <div class="contenu">
        <form action="/signup" method="POST">
            <div class="form-group">
                <h4>Ajouter un employé</h4>
                <input class="labelFormulaire" type="text" id="login" name="login" placeholder="Nom" required><br><br>
                <input  class="labelFormulaire" type="text" id="mot_de_passe" name="mot_de_passe" placeholder="Mot de passe"><br><br>
                Est-ce un administrateur?
                <input type="radio" id="profil_administrateur" name="profil_administrateur" value="1">
                <label for="oui">Oui</label>
                <input type="radio" id="profil_administrateur" name="profil_administrateur" value="0">
                <label for="oui">Non</label>

            </div>
            <button class="btn btn-primary boutonGauche" type="submit">Ajouter</button>
        </form>
        <button class="btn btn-danger espace boutonDroite" onclick="location.href='/patron'">Retour au portail principal</button>
    </div>

