<form action="/ajoutPremierUtilisateur" method="post">
    <input type="text" name="login" id="login" placeholder="login du premier utilisateur"/>
    <input type="text" name="mot_de_passe" id="mot_de_passe" placeholder="mot de passe du premier utilisateur"/>
    <input type="number" name="administrateur" id="administrateur" placeHolder="entrer 1 pour administrateur"/>
    <input type="submit" value="envoyer">
</form>