<div class="grid-container">
    <div class="employe">
        <input type="text" id="nom" name="nom" readonly> {{employe.nom}}</div><br>
        <input type="text" id="numero" name="numero" readonly>#{{employe.numero}}</div><br><br>
    <div class="date">
        <input type="date" id="date" name="date" readonly> 
    </div>

</div>