<h1>Connection</h1>
<form action="login" method="post">
    <input type="text" name="login" id="login" placeholder="Entrez votre nom d'utilisateur ou votre adresse courriel"/><br><br>
    <input type="password" name="mot_de_passe" id="mot_de_passe" placeholder="Entrez votre mot de passe"/>
    <input type="submit" value="Se connecter"/>
</form>

  