<h1>Connection</h1>
<form action="login" method="post">
    <input type="text" name="userLogin" id="userLogin" placeholder="Entrez votre nom d'utilisateur ou votre adresse courriel"><br><br>
    <input type="password" name="MDP" id="MDP" placeholder="Entrez votre mot de passe">
    <button type="submit" onclick="validateForm()">Se connecter</button>
</form>

  <script>
        function validateForm() {
            const userLogin = document.getElementById('userLogin').value;
            const MDP = document.getElementById('MDP').value;
            if (!userLogin || !MDP) {
                alert('Veuillez remplir tous les champs.');
            }
        }
    </script>