
<div class="contenu">
    <form action="login" method="post">
        <div class="form-group">
            <h4>Connexion</h4>
            <input class="labelFormulaire" type="text" name="login" id="login" placeholder="Nom d'utilisateur ou adresse courriel"/><br><br>
            <input class="labelFormulaire" type="password" name="mot_de_passe" id="mot_de_passe" placeholder="Mot de passe"/><br><br>
        </div>
          <input class="btn btn-primary boutonGauche" type="submit" value="Se connecter"/>
    </form>
</div>

  