
   
    <div class="contenu">
         <h4>Liste des Employés</h4> <!-- css à faire quand quelque chose s'affichera-->
        <ul>
            {{#each employees}}
                <li>{{this.nom}}</li>
            {{/each}}
        </ul>
    </div>

