
    <div class="contenu">
          <h4>Liste des clients</h4>
        <ul>
            {{#each contractors}}
                <li>
                    <span>{{this.nom}}</span>
                    <span>{{this.courriel}}</span>
                    <span>{{this.adresse_client}}</span>
                </li>
            {{/each}}
        </ul>
        <button class="btn btn-primary"  onclick="location.href='/nouveau-contracteur'">Ajouter un client</button>
        <button class="btn btn-danger"  onclick="location.href='/patron'">Retour au portail principal</button>
    </div>

