
   
    <div class="contenu">
         <h4>Liste des Employés</h4>
        <ul>
            {{#each employees}}
                <li>{{this.login}}</li>
            {{/each}}
        </ul>
    </div>
    <button class="btn btn-danger espace boutonDroite" onclick="location.href='/patron'">Retour au portail principal</button>

