{{!-- interface du patron --}}

<h2>Bienvenue, {{login}}!</h2>
<div class = "form-group">
    <h4>Tableau de bord de l'employeur</h4>
        <div class="button-container-orange grid-item-1 grid-item-centrer">
        <button onclick="location.href='/employe'">Poinçonner mes heures</button>
    </div>
    <div class="button-container grid-item-1 grid-item-centrer ">
        <button class="button-container grid-item-2" onclick="location.href='/liste-employes'">Liste des employés</button>
        <button onclick="location.href='/nouvel-employe'">Ajouter un employé</button>
    </div>
    <div class="button-container grid-item-3 grid-item-centrer">
        <button onclick="location.href='/liste-contracteurs'">Liste des clients</button>
        <button onclick="location.href='/nouveau-contracteur'">Ajouter un client</button>
    </div>
    <div class="button-container  grid-item-4 grid-item-centrer">
        <button onclick="location.href='/chantiers-en-cours'">Liste des chantiers en cours</button>
        <button onclick="location.href='/ajoutChantier'">Ajouter un chantier</button>
    </div>
        <div class="button-container centrer grid-item-5 grid-item-centrer">
        <button onclick="location.href='/ajoutFraisFixe'">Ajouter des frais fixes (pour la facturation)</button>
    </div>
</div>

