{{!-- pour voir les détails de chaque chantier en cours:
adresse du chantier, nom personne ressource, nom client, heures passées sur ce chantier à ce jour...
doit fonctionner pour les deux listes de chantiers:  listeChantier.handlebars et listeArchive.handlebars--}}

<a href="facture"><button type="button" class="btn btn-primary">Facturer ce chantier</button></a>

<form action="achiverChantier" method="post">
    <button type="button" class="btn btn-danger">Archiver ce chantier</button>
</form>